@import url('variables.css');
@import url('libs.css');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-family: var(--fuente-principal);
}

.btn {
    font-size: 1.8rem;
    background-color: rgb(48, 187, 143);
    border-radius: 10px;
    padding: 1rem;
    transition: all 300ms ease-in-out;
    width: 80%;
}
.btn:hover {
    cursor: pointer;
    color: #fff;
}

img {
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 10px;
}

figure {
    width: 100%;
    height: 100%;
}

figcaption {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

