:root {
    --color-fondo-producto: #000000;
    --color-fondo: #000000c4;
    --fuente-principal: 'Rubik', sans-serif; 
    --fuente-secundaria: 'Roboto', sans-serif;
    --fuente-productos-nombres: 'Merriweather', serif;
}