:root {
    --color-fondo-producto: #000000;
    --linear-gradient: linear-gradient(68deg, #cb5c5c, #3030db);
    --color-fondo: #a6a597;
    --fuente-principal: 'Rubik', sans-serif; 
    --fuente-secundaria: 'Roboto', sans-serif;
    --fuente-productos-nombres: 'Merriweather', serif;
}