
/*Mobile*/


.producto {
    background-color: var(--color-fondo-producto);
    border-radius: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    grid-template-rows: 50rem;
    align-items: center;
    text-align: center;
}

.btn-volver {
    font-size: 1.6rem;
}

.btn-volver:hover {
    color: aqua;
}

.estrellas {
    display: flex;
    align-items: center;
    border: none;
}

.estrellas:hover {
    cursor: pointer;
}

.estrella {
    color: gold;
    font-size: 20px;
}

.estrella-llena {
    color: gold;
}


/* tablet 1280 */
@media (min-width: 1280px) {
    .producto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60rem;
        width: 90%;
        margin: 2rem auto;
    }
} 

/* desktop 1366 */
@media (min-width: 1366px) {
    
    figcaption {
        gap: 3rem;
    }

    .btn-volver {
        font-size: 1.8rem;
    }

    img {
        height: 100%;
    }
} 

