
/*Mobile*/

figcaption {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
}


.producto {
    background-color: var(--color-fondo-producto);
    border-radius: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    grid-template-rows: 50rem;
    align-items: center;
    text-align: center;
}

.btn-volver {
    font-size: 1.6rem;
}

.btn-volver:hover {
    color: aqua;
}

.estrellas {
    display: flex;
    align-items: center;
    border: none;
}

.estrellas:hover {
    cursor: pointer;
}

.estrella {
    color: gold;
    font-size: 20px;
}

.estrella-llena {
    color: gold;
}


/* tablet 768 */
@media (min-width: 768px) {

    figure img {
        height: 100%;
    }
    
    figcaption {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 1.5rem;
        gap: 0;
        height: 100%;
    }

    .producto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 48rem;
        width: 90%;
        margin: 2rem auto;
    }
} 

/* desktop 1024 */
@media (min-width: 1024px) {
    
    figcaption {
        gap: 3rem;
    }

    .btn-volver {
        font-size: 1.8rem;
    }

    .producto {
        grid-template-rows: 60rem;
    }
} 

